<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="falco_quad">

    <!-- This is a simple quadcopter model -->

  <!-- Physical constants -->
  <xacro:property name="mass" value="4.68"/>
  <xacro:property name="ixx" value="0.15"/>
  <xacro:property name="iyy" value="0.18"/>
  <xacro:property name="izz" value="0.15"/>
  <xacro:property name="ixy" value="0.00"/>
  <xacro:property name="ixz" value="0.01"/>
  <xacro:property name="iyz" value="0.00"/>
  <xacro:property name="com_x" value="0.0"/>
  <xacro:property name="com_y" value="-0.03"/>
  <xacro:property name="com_z" value="-0.01"/>

  <!-- Base link -->
  <link name="base_link">
    <inertial>
      <origin xyz="${com_x} ${com_y} ${com_z}" rpy="0 0 0"/>
      <mass value="${mass}"/>
      <inertia
        ixx="${ixx}" ixy="${ixy}" ixz="${ixz}"
        iyy="${iyy}" iyz="${iyz}" izz="${izz}"/>
    </inertial>
    <!-- Visual - Simple box for body -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 0.4 0.1"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <!-- Collision (same as visual) -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 0.4 0.1"/>
      </geometry>
    </collision>
  </link>

    <!-- Propellers -->
    <xacro:macro name="propeller" params="name x y z r p y">
        <link name="${name}">
            <inertial>
            <origin xyz="${x} ${y} ${z}" rpy="${r} ${p} ${y}"/>
            <mass value="0.1"/>
            <inertia
                ixx="0.0001" ixy="0.0" ixz="0.0"
                iyy="0.0001" iyz="0.0" izz="0.0001"/>
            </inertial>
            <visual>
            <origin xyz="${x} ${y} ${z}" rpy="${r} ${p} ${y}"/>
            <geometry>
                <cylinder radius="0.02" length="0.1"/>
            </geometry>
            <material name="black">
                <color rgba="0 0 0 1"/>
            </material>
            </visual>
            <collision>
            <origin xyz="${x} ${y} ${z}" rpy="${r} ${p} ${y}"/>
            <geometry>
                <cylinder radius="0.02" length="0.1"/>
            </geometry>
            </collision>
        </link>
    
        <!-- Joint -->
        <joint name="${name}_joint" type="fixed">
            <parent link="base_link"/>
            <child link="${name}"/>
            <origin xyz="${x} ${y} ${z}" rpy="${r} ${p} ${y}"/>
        </joint>
    </xacro:macro>
    <xacro:propeller name="propeller1" x="0.2" y="0.2" z="0.05" r="0" p="0" y="0"/>
    <xacro:propeller name="propeller2" x="0.2" y="-0.2" z="0.05" r="0" p="0" y="0"/>
    <xacro:propeller name="propeller3" x="-0.2" y="-0.2" z="0.05" r="0" p="0" y="0"/>
    <xacro:propeller name="propeller4" x="-0.2" y="0.2" z="0.05" r="0" p="0" y="0"/>

</robot>