<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro" >

  <!-- Modern Gazebo Ignition Quadrotor Controller Plugin -->
  <xacro:macro name="quadrotor_ignition_controller" params="robot_name">
    <gazebo>
      <!-- Multicopter velocity control plugin for Ignition Gazebo -->
      <plugin filename="gz-sim-multicopter-control-system" 
              name="gz::sim::systems::MulticopterVelocityControl">
        <robotNamespace>${robot_name}</robotNamespace>
        <commandTopic>/${robot_name}/cmd_vel</commandTopic>
        <motorNumber>4</motorNumber>
        <motorSpeedLimit>1000</motorSpeedLimit>
        <comLinkName>base_link</comLinkName>
        
        <!-- Motor configuration for quadcopter -->
        <rotor0>
          <jointName>rotor_0_joint</jointName>
          <linkName>rotor_0</linkName>
          <turningDirection>ccw</turningDirection>
          <rotorDragCoeff>8.06428e-05</rotorDragCoeff>
          <rollingMomentCoeff>1e-06</rollingMomentCoeff>
          <maxRotVelocity>1100</maxRotVelocity>
          <motorConstant>8.54858e-06</motorConstant>
          <momentConstant>0.016</momentConstant>
          <commandSubTopic>gazebo/command/motor_speed</commandSubTopic>
          <motorSpeedPubTopic>motor_speed/0</motorSpeedPubTopic>
          <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
          <motorType>velocity</motorType>
        </rotor0>
        
        <rotor1>
          <jointName>rotor_1_joint</jointName>
          <linkName>rotor_1</linkName>
          <turningDirection>cw</turningDirection>
          <rotorDragCoeff>8.06428e-05</rotorDragCoeff>
          <rollingMomentCoeff>1e-06</rollingMomentCoeff>
          <maxRotVelocity>1100</maxRotVelocity>
          <motorConstant>8.54858e-06</motorConstant>
          <momentConstant>0.016</momentConstant>
          <commandSubTopic>gazebo/command/motor_speed</commandSubTopic>
          <motorSpeedPubTopic>motor_speed/1</motorSpeedPubTopic>
          <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
          <motorType>velocity</motorType>
        </rotor1>
        
        <rotor2>
          <jointName>rotor_2_joint</jointName>
          <linkName>rotor_2</linkName>
          <turningDirection>ccw</turningDirection>
          <rotorDragCoeff>8.06428e-05</rotorDragCoeff>
          <rollingMomentCoeff>1e-06</rollingMomentCoeff>
          <maxRotVelocity>1100</maxRotVelocity>
          <motorConstant>8.54858e-06</motorConstant>
          <momentConstant>0.016</momentConstant>
          <commandSubTopic>gazebo/command/motor_speed</commandSubTopic>
          <motorSpeedPubTopic>motor_speed/2</motorSpeedPubTopic>
          <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
          <motorType>velocity</motorType>
        </rotor2>
        
        <rotor3>
          <jointName>rotor_3_joint</jointName>
          <linkName>rotor_3</linkName>
          <turningDirection>cw</turningDirection>
          <rotorDragCoeff>8.06428e-05</rotorDragCoeff>
          <rollingMomentCoeff>1e-06</rollingMomentCoeff>
          <maxRotVelocity>1100</maxRotVelocity>
          <motorConstant>8.54858e-06</motorConstant>
          <momentConstant>0.016</momentConstant>
          <commandSubTopic>gazebo/command/motor_speed</commandSubTopic>
          <motorSpeedPubTopic>motor_speed/3</motorSpeedPubTopic>
          <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
          <motorType>velocity</motorType>
        </rotor3>
      </plugin>
      
      <!-- Physics plugin for realistic dynamics -->
      <plugin filename="gz-sim-physics-system" name="gz::sim::systems::Physics">
        <engine>
          <filename>gz-physics-dartsim-plugin</filename>
        </engine>
      </plugin>
      
      <!-- Apply forces plugin -->
      <plugin filename="gz-sim-apply-joint-force-system" 
              name="gz::sim::systems::ApplyJointForce">
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
